name: Release Workflow

on:
  push:
    tags:
      - "*"

concurrency:
  # Only run once for latest commit per ref and cancel other (previous) runs.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: client-gen
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x
      - name: Setup Node
        uses: actions/setup-node@v3
      - name: Install WASM tools
        run: dotnet workload install wasm-tools
      - name: Publish
        run: npm ci && npm run clean && npm run build
      - name: Set version in package.json
        run: npm version ${{ github.event.inputs.release-version }}
      - name: Publish to npmjs.com
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm publish --access public
